/*
 • azul    • gris1   • rojo    • amarillo • gris2   • rosa
 • #138b9c • #ccccb2 • #e7261d • #f5cf77  • #dadad0 • #e6615c
*/

/* Component: Header */

  .Header {
      width:100%;
      background-color: #f5cf77;
    }

  .Header-Title {
      color: #cc2a36;
    }
      
  .Header-Logo {
    width: 15%;
    height: 15%;
    padding: 15px;
    justify-content: left;
  }



/* Component: Lastest */ 

.Lastest
{
  padding: 15px;
}

.Lastest_Title
{
  text-align: center;
}

.Lastest_View
{
  align-content: center;
  padding: 30px;
}


/* Component: Preview */ 

.Preview
{
  padding: 15px;
}



/* Component: Search */ 

.Search
{
    background-color: #138b9c;
    padding: 15px;
    display: block;
}

.SearchBar
{
    display: block;
    align-content: center;
    border-radius: 15px;
}

.searchButton
{
    margin-left: 30px;
}


/* Component: Footer */

.Footer{
    background-color: #dadad0;
    padding: 15px;
    text-align: center;
}

/*Other components*/

li{
    color: #ffffff;    
}